body.light {
    background-color: $creamyellow;
    color: $burgundy;
    font-family: $overpass;
}

body.dark {
    background-color: $burgundy;
    color: $creamyellow;
    font-family: $overpass;    
}

h1 {
    font-weight: 400;
    font-size: 68px;
    font-family: $yeseva;
    margin-bottom: 0px;
    text-align: center;
}

.input {
    display: flex;
    flex-direction: column;
}
  
.input label {
    font-size: 16px;
    font-weight: 300;
}
  
.input input {
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 5px;
}
  
.input input:focus {
    outline: none;
    border-color: #EDE0B2;
    box-shadow: 0 0 0 2px $lightburgundy;
}

button {
    font-family: $yeseva;
    font-size: 18px;
    background-color: $valentine;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: $rose;
    }
}
  
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    .user {
        display: flex;
        flex-direction: column;
        h2 {
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            font-family: $rubik;
        }
    }
    .hidden {
        display: none
    }
    .my-page {
        font-family: $yeseva;
    }
    
}

h2 {
    text-align: center;
}

.hidden {
    display: none
}

.my-page {
    font-family: $yeseva;
}

.book-display {
    width: 100%;
    overflow-x: scroll;

    ::-webkit-scrollbar {
        width: 6px;
    }
     
    ::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 6px;
    }
      
    ::-webkit-scrollbar-thumb:hover {
        background-color: #aaa;
    }
  
    ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: nowrap;
            margin-top: 8%;
            .hidden {
                display: none
            }
    
        li {
            margin: 10px 48px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 28px;
    
            img {
                height: 360px;
                transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                margin-bottom: 28px;
    
                &:hover {
                    transform: scale(1.1);
                    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
}

.radio {
    display: flex;
    align-items: center;
}

input[type="radio"] {
    font-family: $yeseva;
    font-size: 18px;
    color: $valentine;
    margin: 8px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid $valentine;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
  
input[type="radio"]:checked {
    background-color: $valentine; 
    border-color: $valentine;
}

p {
    color: $rose;
    text-align: center;
    font-size: 16px;
}


@media (max-width: 768px) {
    li {
    width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    li {
    width: 100%;
    }
}
