$creamyellow: hsl(61, 100%, 91%);
$burgundy: hsl(334, 34%, 27%);
$lightburgundy: hsl(333, 29%, 42%);
$valentine: hsl(346, 56%, 63%);
$rose: hsl(347, 52%, 48%);


$overpass: 'Overpass', sans-serif;
$rubik: 'Rubik', sans-serif;
$yeseva: 'Yeseva One', serif;